<header class="site-header">
    <div class="container">
        <div class="header-content">
            <h1 class="site-title">
                <a href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/logo.png' | relative_url }}" alt="Security Blog Search Logo" class="site-logo">
                </a>
            </h1>
            <p class="site-description">{{ site.description }}</p>
        </div>
        <nav class="site-nav">
            <a href="{{ '/' | relative_url }}">All Posts</a>
            <a href="{{ '/entra.html' | relative_url }}">Entra</a>
            <a href="{{ '/intune.html' | relative_url }}">Intune</a>
            <a href="{{ '/azure.html' | relative_url }}">Azure</a>
            <a href="{{ '/defender-endpoint.html' | relative_url }}">Defender for Endpoint</a>
            <a href="{{ '/defender-cloud-apps.html' | relative_url }}">Defender for Cloud Apps</a>
            <a href="{{ '/defender-cloud.html' | relative_url }}">Defender for Cloud</a>
            <a href="{{ '/sentinel.html' | relative_url }}">Sentinel</a>
            <a href="{{ '/defender-office.html' | relative_url }}">Defender for Office</a>
            <a href="{{ '/office365.html' | relative_url }}">Office 365</a>
            <a href="{{ '/purview.html' | relative_url }}">Purview</a>
            <a href="{{ '/about' | relative_url }}">About</a>
            <a href="{{ '/contributing' | relative_url }}">Contribute</a>
        </nav>
    </div>
</header>
